body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EEE2DE;
}
.col{
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.digit{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color:#EA906C ;
  display: flex;
  align-items: center;
  justify-content: center;
}